/*gallery page*/
.gallery * {
    box-sizing: border-box;
    margin: 0;
}

.gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;/*컨텐츠가 공간을 100% 채우면 다음 행으로 컨텐츠를 내려서 정렬한다*/
    padding: 0 4px;
}

.gallery .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;/*flex item의 크기를 container의 25%로 정한다*/
    max-width: 25%;/*column의 최대 넓이는 상위 박스의 25%까지*/
    padding: 0 4px;
}

.gallery .source-img {
    margin-top: 8px;
    vertical-align: middle;
}
.gallery .source-img:hover{
  opacity: 0.7;
  cursor: pointer;
}

/*gallery responsive*/
@media (max-width: 800px) {
    .gallery .column {/*작은 기기에서 2열으로 gallery 출력*/
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
