@charset "UTF-8";
/*@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);*/
/*guide line width: wide=100px narrow=31px*/

/*기본색*/
:root{
  --text-bright-color:#ffffff;
  --text-dark-color:#58585b;
  --icon-bright-color:#dbdcde;
  --verical-line-color:#808284;
  --large-width:1279px;/*페이지 가로 최대너비. 131*2 추가*/
  --guideline-wideAddnarrow:131px;
  --guideline-wide:100px;
  --guideline-narrow:31px;
  --conBfootA-font-size:12px;/*18pt 수정해야함*/
  --font-weight-extrabold:800;
  --font-weight-bold:700;
}

/*기본 설정: 페이지 전체*/
body{
  font-family: '맑은 고딕','Apple SD Gothic Neo','sans-serif';
  /*font-family: 'Nanum Myeongjo', serif;*/
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
}

/*콘텐츠A: 히어로 이미지*/
.conA{
  display: flex;/*플렉시블 레이아웃 기능*/
  justify-content: center;/*conA의 자식 container 박스 자체를 좌우 중앙 배치*/
  height: 100vh;/*font-size에 사용한 vw 개념과 같음*/
  min-height: 500px;/*section크기 제한. 브라우저 크기 줄어들어도 최소 이 크기의 이미지는 출력됨*/
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(img/background.png);
  background-position:center;
  background-size: cover;
  max-width: var(--large-width);
  margin-left: auto;
  margin-right: auto;
}

.conA .container p{
  writing-mode:tb-rl;/*가로쓰기. top->bottom, right->left*/
  line-height: 1.8;/*글자크기의 1.8배 박스, 70page참조, 가로쓰기시 행간, 요구사항 35pt, 수정해야함*/
  margin-top: 55px;
  color: var(--text-bright-color);
  font-size: 14px;/*22pt 수정해야함*/
  font-weight: var(--font-weight-extrabold);
  letter-spacing: 0.2em;/*em은 폰트크기=1em으로 처리하는 단위, 가로쓰기시 글자와 글자사이 거리*/
}

  /*반응형 웹 디자인. 주의! 콘텐츠A에 있는 p의 폰트사이즈 설정을 덮어쓰고 있으므로 conA style의 아래에 와야한다*/
@media (min-height:500px){
  .conA .container p{
    font-size: 18px;
  }
}

/*콘텐츠B: 개요*/
.conB{
  position: relative;/*conB-small을 포지션 레이아웃(부모 position relative, 자식 position absolute)으로 중앙 이미지쪽으로 위치 지정 위해서*/
}
.conB .container{
  /*padding-top: 35px;*/
  padding-bottom: 200px;
  max-width: var(--large-width);/*너무 큰 기기에서 conB의 item들이 너무 벌어지지 않도록 한도를 준다*/
  margin-left: auto;
  margin-right: auto;
}
.conB .itemB{
  padding-top: 35px;
}
.conB .itemA p{/*세로선 만들기 위해 35px+8px**/
  padding-top: 43px;
}

 /*conB-small: 메인 이미지 안쪽으로 위치한 paragraph*/
.conB-small{
  position: absolute;/*부모 위치에 대해 상대적으로 위치 지정하려면 부모가 반드시 relative여야 한다*/
  right: 0;
  top: -77px;
  width: 100%;
  /*div박스 위치가 background로 이미지 지정된 conA에 있으므로 z-index 값을 높게 주지 않아도 이미지 위로 보인다*/
}
.conB-small .container-small{
  max-width: var(--large-width);
  margin-left: auto;
  margin-right: auto;
}
.conB-small p{
  padding-bottom: 35px;/*세로선 만들기 위해*/
}

  /*paragraph*/
.conB p{
  margin-right: var(--guideline-narrow);
  font-size: var(--conBfootA-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 1.8;/*요구사항 27pt, 수정해야함*/
  color: var(--text-dark-color);
  text-align: right;
  }
.conB p span{
  font-weight:var(--font-weight-extrabold);
}
.conB p #contact{
  border-top-style: solid;
  border-color: var(--verical-line-color);
  border-width: 1px;
}

  /*icon list*/
.conB ul{
  /*margin-top: 35px; container가 padding 가지고 있으므로 삭제*/
  margin-left: var(--guideline-narrow);
}

.conB li{
  /*margin-bottom: 10px;*/
}

.conB a{
  color:var(--icon-bright-color);
  opacity: 1;
  font-size: 40px;
}

@media (max-width:359px){
  .conB ul{
    margin-left:0;
    display: flex;/*부모요소를 flex로 만들면 자식(item)들이 가로정렬한다*/
    /*자식(item)들을 상하좌우 중앙배치한다*/
    align-items: center;
    justify-content: center;
  }
}
@media (min-width:360px){
    /*플렉시블 박스 레이아웃*/
  .conB .container{
    display: flex;
  }
  .conB .itemA{
    order: 2;/*itemA(ul)가 나중 순서로 정렬됨*/
  }
  .conB .itemB{
    order: 1;/*itemB(p)가 우선 정렬됨*/
  }
  /*container 안의 item 정렬*/
  .conB .item{
    flex: auto;
  }
}
@media (min-width:415px){
  .conB a{
    opacity: 0.8;
  }
  .conB a:hover{
    opacity: 1;
  }
}
@media (min-width:495px){
  /*아이템간 너비 비율*/
  .conB .item{
    flex: 1;/*item들이 1:1로 container안 넓이 가짐*/
  }
}
@media (min-width:768px){
  .conB p{/*paragrph까지 3px이 더 들어간 것 같음*/
    margin-right: var(--guideline-wide);
    padding-right: var(--guideline-narrow);
    border-right-style: solid;
    border-color: var(--verical-line-color);
  }
  .conB ul{
    margin-left: var(--guideline-wideAddnarrow);
  }
}

/*푸터*/
footer .container{
  padding-bottom:100px;
}
.footA p{
  font-size: var(--conBfootA-font-size);
  font-weight: 700;
  color: var(--text-dark-color);
  text-align: center;
}

/*헤더*/
header .container{
  /*padding-top: 55px;*/
  padding-bottom: 35px;
  display: flex;
  max-width: var(--large-width);
  margin-left: auto;
  margin-right: auto;
}
header .item{
  flex:1;
}

 /*headA: 큰화면 navigation*/
.headA a{
  display: block;
  color: var(--text-dark-color);
  text-decoration: none;
}

.headA ul{
  padding-top: 55px;
  border-left-style: solid;
  border-color: var(--verical-line-color);
  display: flex;
}

.headA ul li{
  writing-mode:tb-rl;
  font-weight: var(--font-weight-extrabold);
  color:var(--text-dark-color);
}
.headA ul .home{
  margin-left: 30px;
}
.headA ul .menu{
  margin-left: 15px;
}

.headA a{
  opacity: 0.8;
}
.headA a:hover{
  opacity: 1;
}

 /*headB: svg log 이미지 absolute positioning*/
.headB{
  position:relative;
}

.headB img{
  position:absolute;
  right:var(--guideline-narrow);
  bottom:0;
}
 /*headC: 작은기기 toggle button*/
.headC{
  margin-top: 55px;
  margin-left:var(--guideline-narrow);
  padding: 0;
  border:none;
  outline: none;
  background: none;
  font-size: 16px;
  color:var(--text-dark-color);
  opacity: 0.8;
  cursor:pointer;
}
.headC:hover{
  opacity: 1;
}

 /*headD: 작은기기에서 nav bar*/
.headD{
  display: none;/*초기화면에서 안보이게*/
  position: absolute;
  top:108.75px;
  left:0;
  /*z-index: 100;conA 이미지가 background라서 z-index사용할 필요 없는듯*/
  width: 100%;
  background-color: rgba(255,255,255,0.2);
}
.headD ul{
  display: flex;
  margin-left: 16px;
}
.headD a{
  display: block;
  color:var(--text-dark-color);
  font-weight: var(--font-weight-extrabold);
  text-decoration: none;
  line-height: 2em;
  text-align: center;
  margin-left: 15px;
  opacity: 0.8;
}
.headD a:hover{
  opacity: 1;
}

 /*head media*/
@media (max-width:767px){
  .headA{
    display: none;/*작은화면에서는 리스트메뉴가 안보이게*/
  }
  .headB img{
    width:100px;
  }
}

@media (min-width:768px){
  .headA ul{
    margin-left: var(--guideline-wide);
  }
  .headB img{
    right:var(--guideline-wideAddnarrow);
  }
  .headC{
    display: none !important;/*큰화면에서는 토글버튼이 안보이게*/
  }
  .headD{
    display: none !important;/*jQuery override. 작은 화면에서 토글버튼과 연계되어 jQuery명령으로 display가 된 후에 화면 키워질 때 그대로 남아있음을 override로 방지*/
  }
}
